body {
    display: flex;
    flex-direction: column;
    background: url('https://images.pexels.com/photos/633520/pexels-photo-633520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.8);
}

label {
    margin-top: 10px;
}

.left-side-map-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

input,
select {
    margin-top: 10px;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    border-radius: 6px;
    border: 1px solid #057fd0;
    font-weight: bold;
    padding: 5px 5px;
}

.submit-btn {
    margin-top: 10px;
}

.submit-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    width: 100px;
}
.submit-btn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}
.submit-btn:active {
    position: relative;
    top: 1px;
}

.results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    padding-left: 20px;
}

@media only screen and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    .left-side-map-options {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
    iframe {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}
